{% load static %}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Silicon - ImageProcess</title>
<link rel="stylesheet" type='text/css' href="{% static 'bootstrap-4/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/styles.css'%}">
<script defer src="{% static 'fontawesome/solid.js'%}"></script>
<script defer src="{% static 'fontawesome/fontawesome.js'%}"></script>
<script>
function ViewState()
{
this.state='none';
this.fileName='';
this.name='';
this.email='';
}
var viewState=new ViewState();
var openFileDivision=null;
var clientArea=null;
function initializeState()
{
console.log("initializeState chala ..........");
$.ajax({
url:"getState",
type:"GET",
cache:false,
sucess:function(res)
{
viewState=res;
updateView();
}
});
}
function updateView()
{
if(clientArea==null) clientArea=$('#clientArea');
if(openFileDivision==null) openFileDivision=$('#openFileDivision');
if(viewState.state=='none')
{
$('#sidebar').css('visibility','hidden');
$('#sidebarCollapse').css('visibility,hidden');
$('#sidebar').hide();
$('#sidebarCollapse').hide();
$('#sidebar').css('display','none');
$('#navbar').hide();
clientArea.html(openFileDivision);
$('#fileOptions').css('visibility','hidden');
$('#topBar').css('visibility','hidden');
}
if(viewState.state=='opening')
{
$('#clientArea').html('<i class="fa fa-spinner fa-spin centered" style="font-size:24px"></i>');
}
if(viewState.state=='open')
{
$('#sidebar').css('visibility','visible');
$('#sidebarCollapse').css('visiblity','visible');
$('#sidebar').css('display');
$('#sidebar').show();
$('#navbar').show();
$('#sidebarCollapse');
$('#sidebarCollapse').show();
$('#fileOptions').css('visibility','visible');
$('#topBar').css('visibility','visible');
$('#clientArea').html("<img class='imageEditor' src='/iprocone/getImage?&xcsdf="+encodeURI(new Date())+"'id='imageId'>");
}
}
function closeFile()
{
viewState.state='none';
updateView();
 $.ajax({
 url: "closeFile",
 type: "GET",
 cache: false,
 success: function (res) {
// do nothing
}
});
}



function openFile()
{
var openFileForm=document.getElementById('openFileForm');
var formData=new FormData(openFileForm);
viewState.state='opening';

updateView();
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "openFile",
 type: "POST",
 data: formData,
 enctype: 'multipart/form-data',
 processData: false,
 contentType: false,
 cache: false,
 success: function (res) {
 viewState.state='open';
viewState.fileName=res.fileName;
viewState.email=res.email;
viewState.name=res.name;
openFileForm.reset();
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
$('#imageFileName').html('Image : '+viewState.fileName);
 }
 });
}
function toGrayscale()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "toGrayscale",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });
}



function cool()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "cool",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });
}




function summer()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "summer",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });
}




function shade()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "shade",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });
}













function undo()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
$.ajax({
url:"undo",
type:"GET",
cache:false,
success:function(res){
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();

}
});
}





function redo()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
$.ajax({
url:"redo",
type:"GET",
cache:false,
success:function(res){
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();

}
});
}

function calH()
{
img=document.getElementById("imageId")
aWidth=img.clientWidth;
aHeight=img.clientHeight;
height=document.getElementById("height").value;
var r=aHeight/aWidth
width=height*r;

document.getElementById("Width").value=Math.round(width);

}







function scaleit()
{
var openScaleForm=document.getElementById('scaleItForm');
var formData=new FormData(openScaleForm)

$.ajax({
url:"scaleit",
type:"POST",
data:formData,
processData:false,
contentType:false,
cache:false,
success:function(res)
{
updateView();
}
});
}


function cropit()
{
var openCropForm=document.getElementById('cropItForm');
var formData=new FormData(openCropForm)
$.ajax({
url:"cropIt",
type:"POST",
data:formData,
processData:false,
contentType:false,
cache:false,
success:function(res)
{
updateView();
}


});


}









function addWatermark()
{
var openWatermarkForm=document.getElementById('watermarkForm');
var formData=new FormData(openWatermarkForm)
$.ajax({
url:"addWatermark",
type:"POST",
data:formData,
processData:false,
contentType:false,
cache:false,
success:function(res)
{
updateView();
}


});


}











function setborder()
{

var openborderForm=document.getElementById('setborder');
var formData=new FormData(openborderForm)
$.ajax({
url:"setBorder",
type:"POST",
data:formData,
processData:false,
contentType:false,
cache:false,
success:function(res)
{
updateView();
}


});


}


function rotateRight(request)
 {
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "rotateRight",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });


}

function showOrignal()
{
$('#spinnerWrap').css('display','');
$('#spinnerWrap').css('visibility','visible');
$('#spinnerWrap').show();
 $.ajax({
 url: "showOrignal",
 type: "GET",
 cache: false,
 success: function (res) {
updateView();
$('#spinnerWrap').css('display','none');
$('#spinnerWrap').css('visibility','hidden');
$('#spinnerWrap').hide();
 }
 });




}
function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}

function overlay()
{
var openFileForm=document.getElementById('overlay');
var formData=new FormData(openFileForm);

 $.ajax({
 url: "overlay",
 type: "POST",
 data: formData,
 enctype: 'multipart/form-data',
 processData: false,
 contentType: false,
 cache: false,
 success: function (res) {
 
updateView();
 }
 });

}


</script>
</head>
<body>
 <div class="wrapper">
 <!-- Sidebar Holder -->
 <nav id="sidebar" style='visibility:visible;display:none'>
 <div class="sidebar-header">
 <h3>iMagic</h3>
 
 </div>
 <ul class="list-unstyled components" id='imageProcessingOptions'>
 <p>Image Processing</p>
 <li>
 <a href="javascript:toGrayscale()">To Grayscale</a>
 </li>
 <li>
 <a href="javascript:$('#scaleItModal').modal('show')">Scale It</a>
 </li>
<li>
<a href="javascript:$('#cropItModal').modal('show')">Crop</a>
</li>
 <li>
 <a href="javascript:$('#borderModal').modal('show')">Set Border</a>
 </li>
 <div class="dropdown">
  
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background:black">
   Filters
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="javascript:cool()">Cool </a>
    <a class="dropdown-item" href="javascript:summer()">Summer</a>
    <a class="dropdown-item" href="javascript:shade()">Shade</a>
  </div>

<li>
<a href="javascript:$('#watermarkModal').modal('show')">Add Watermark</a>

</li>
<li>
<div class="dropdown">
<button type="button" class="btn btn-primary dropdown-toogle" data-toggle="dropdown" style="backgound:black">
Rotate
</button>
<div class="dropdown-menu">
<a class="dropdown-item" href="javascript:rotateRight()">right</a>
<a class="dropdown-item" href="javascript:rotateLeft()">left</a>
</li>
<li>
<a href="javascript:$('#overlayModal').modal('show')">Overlay</a>
</li>
 </ul>
 </nav>
 <!-- Page Content Holder -->
 <div id="content">
<nav id="navbar" class="navbar navbar-expand-lg  navbar-light" style="background-color: #e3f2fd;visibility:visible;display:none">
<!--button type="button" id="sidebarCollapse" class="navbar-btn"style='visibility:visible;display:none'--!>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <button type="button" id="sidebarCollapse" class="navbar-btn"style='visibility:visible;display:none'>
   <span></span>
   <span></span>
   <span></span>
   </button>

    <ul class="navbar-nav mr-auto">
    

 <div class="dropdown">
  
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-right:10px;padding: 10px 20px;">
    File 
  <i class="fas fa-file-image"></i>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</div> 

    
 <button type="button" class="btn" onclick="javascript:undo()"  style="background:orange;margin-left:50px;margin-right:10px">Undo</button>
<button type="button" class="btn" onclick="javascript:redo()"  style="background:orange;margin-left:15px;margin-right:10px">Redo</button>
<button type="button" class="btn" onclick="javascrit:showOrignal()" style="background:grey;margin-left:35px;">Orginal</button>
<button type="button" class="btn" onclick="javascript:closeFile()" style="background:red;margin-left:500px;margin-right:10px">close</button>
 


    </ul>
 
  </div>

</nav>


<div id='clientArea'>
<div id='openFileDivision'>
 <h3>Open file and let the magic begin</h3>
<form id='openFileForm' enctype="multipart/form-data">
<div class='form-group'>
{% csrf_token %}
<label for='email'>Email Id.</label>
<input class='form-control' type='text' id='email' name='email'>
</div>
<div class='form-group'>
<label for='name'>Name</label>
<input class='form-control' type='text' id='name' name='name'>
</div>
<div class='form-group'>
<input class='form-control' type='file' id='fileName' name='fileName' accept='image/*'>
</div>
<button type='button' onclick='openFile()' class='btn btn-primary'>Open file</button>
</form>
</div> <!-- open file div end -->
</div> <!-- client area ends -->
 <div class="line"></div>
<footer class="page-footer">
 <!-- Copyright -->
 <div class=" text-center">© 2018 Copyright:
 <a href="http://thinkingmachines.in/"> Thinking Machines</a>
 </div>
 <!-- Copyright -->
</footer>
 </div>ii
 </div>
 <div id="spinnerWrap" style='visibility:hidden;display:none'>
 <div class="spinnerIcon">
 Loading<br/>
<i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
 </div>
 </div>
<div class="modal fade" id="scaleItModal">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <!-- Modal Header -->
 <div class="modal-header">
 <h4 class="modal-title">Scale It</h4>
 <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>
 <!-- Modal body -->
 <div class="modal-body">
 <form id='scaleItForm' class='form-horizontal'>
<div class='form-group'>
{% csrf_token %}
<label for='width'>Width %</label>
<input class='form-control' type='number' min='-10' max='200' step='1' value='100' id='Width' name='newX'  >
</div>


<div class='form-group'>
<label for='height'>Height %</label>
<input class='form-control' type='number' min='-10' max='200' step='1' value='100' id='height' name='newY' onchange="javascript:calH()" >

</div>
<div class='form-group'>
<label for='maintainAspectRation'>Maintain Aspect Ratio</label>
<input class='form-control' type='checkbox' checked id='maintainAspectRatio' name='maintainAspectRation' >
</div>
 </form>
 </div>
 <!-- Modal footer -->
 <div class="modal-footer">
 <button type="button" class="btn btn-primary" onclick="javasript:scaleit()" data-dismiss="modal" >Scale it</button>
 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
 </div>
 </div>
 </div>
</div>

























<div class="modal fade" id="cropItModal">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <!-- Modal Header -->
 <div class="modal-header">
 <h4 class="modal-title">Crop</h4>
 <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>
 <!-- Modal body -->
 <div class="modal-body">
 <form id='cropItForm' class='form-horizontal'>
<div class='form-group'>
{% csrf_token %}
<label for='width'>X Coordinate </label>
<input class='form-control' type='number' min='-10' max='200' step='1' id='height' name='X'>
</div>
<div class='form-group'>
<label for='height'>Y Coordinate </label>
<input class='form-control' type='number' min='-10' max='200' step='1' id='height' name='Y'>




<div class='form-group'>
<label for='width'>Width</label>
<input class='form-control' type='number' min='-10' max='200' step='1' id='height' name='w'>
</div>
<div class='form-group'>
<label for='height'>Height</label>
<input class='form-control' type='number' min='-10' max='200' step='1' id='height' name='h'>
</div>







</div>
<div class='form-group'>
<label for='maintainAspectRation'>Maintain Aspect Ratio</label>
<input class='form-control' type='checkbox' checked id='maintainAspectRatio' name='maintainAspectRation' >
</div>
 </form>
 </div>
 <!-- Modal footer -->
 <div class="modal-footer">
 <button type="button" class="btn btn-primary" onclick="javascript:cropit()" >Crop it</button>
 <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
 </div>
 </div>
 </div>
</div>


















 

<div class="modal fade" id="borderModal">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <!-- Modal Header -->
 <div class="modal-header">
 <h4 class="modal-title">Set Border</h4>
 <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>
 <!-- Modal body -->
 <div class="modal-body">
 <form id='setborder' class='form-horizontal'>
<div class='form-group'>
{% csrf_token %}
<label for='width'>size</label>
<input class='form-control' type='number' min='-10' max='200' step='1' value='100' id='height' name='size'>
</div>
</form>
 </div>
 <!-- Modal footer -->
 <div class="modal-footer">
 <button type="button" class="btn btn-primary" onclick="javasript:setborder()">Set</button>
 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
 </div>
 </div>
</div>
</div>







<div class="modal fade" id="overlayModal">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <!-- Modal Header -->
 <div class="modal-header">
 <h4 class="modal-title">Overlay Image</h4>
 <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>
 <!-- Modal body -->
 <div class="modal-body">
 <form id='overlay' class='form-horizontal'>
<div class='form-group'>
{% csrf_token %}
<label for='width'>Image</label>
<input class='form-control' type='file' id='fileName' name='fileName' accept='image/*'>
</div>
</form>
 </div>
 <!-- Modal footer -->
 <div class="modal-footer">
 <button type="button" class="btn btn-primary" onclick="javasript:overlay()">Set</button>
 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
 </div>
 </div>
</div>
</div>













<div class="modal fade" id="watermarkModal">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <!-- Modal Header -->
 <div class="modal-header">
 <h4 class="modal-title">Add Watermark</h4>
 <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>
 <!-- Modal body -->
 <div class="modal-body">
 <form id='watermarkForm' class='form-horizontal'>
<div class='form-group'>
{% csrf_token %}
<label for='water'>Text</label>
<input type="text" class="form-control" id="water" name='t'>
</div>

 </form>
 </div>
 <!-- Modal footer -->
 <div class="modal-footer">
 <button type="button" class="btn btn-primary" onclick="javasript:addWatermark()" data-dismiss="modal" >Insert</button>
 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
 </div>
 </div>
 </div>
</div>






<button class="open-button" onclick="openForm()">Help</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>ask Anthing...</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>









<!-- jQuery CDN - Slim version (=without AJAX) -->
 <script src="{% static 'jquery-3.3.1/jquery.min.js' %}"></script>
 <!-- Popper.JS -->
 <script src="{% static 'popper/popper.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'bootstrap-4/js/bootstrap.min.js' %}"></script>
 <script type="text/javascript">
 $(document).ready(function () {
 $('#sidebarCollapse').on('click', function () {
 $('#sidebar').toggleClass('active');
 $(this).toggleClass('active');
 });
 });
$.ajaxSetup({
 beforeSend: function(xhr, settings) {
 function getCookie(name) {
 var cookieValue = null;
 if (document.cookie && document.cookie != '') {
 var cookies = document.cookie.split(';');
 for (var i = 0; i < cookies.length; i++) {
 var cookie = jQuery.trim(cookies[i]);
 // Does this cookie string begin with the name we want?
 if (cookie.substring(0, name.length + 1) == (name + '=')) {
 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
 break;
 }
 }
 }
 return cookieValue;
 }
 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
 // Only send the token to relative URLs i.e. locally.
 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
 }
 }
});
window.addEventListener('load',initializeState);
 </script>
</body>
</html>
